.resume__item-container {
  display: flex;
}

.resume__content {
  flex-basis: 100%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  height: 100%;
}

.resume__content:last-of-type {
  border-right: none;
}
.resume__content-wrapper {
  padding: 23px;
}

.resume__content-title {
  color: #ffd519;
  margin: 0;
  font-size: 50px;
}

.resume__content-text {
  font-size: 18px;
  line-height: 1.35;
}

.resume__content-text_highlighter {
  background-color: #5932cb;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
}

.resume__image-container {
  display: flex;
  align-items: center;
}

.resume__image {
  width: 100%;
}
