.header {
  color: white;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border: 1px solid white;
  align-items: center;
}

.header__logo {
  margin: 0;
  font-style: italic;
  text-shadow: 3px 3px 0 #ef001e;
  font-size: 56px;
}

.header__title {
  font-style: italic;
  font-size: 46px;
  margin: 0;
}

.header__title_emoji {
  font-style: normal;
  text-shadow: none;
}

.header__menu-toggle {
  display: none;
}

.header__menu-icon {
  cursor: pointer;
  width: 34px;
  height: 34px;
  background-size: contain;
}

.header__menu-icon_open {
  background-image: url(../../images/menu_open_white_24dp.svg);
}

.header__menu-icon_close {
  background-image: url(../../images/close_white_24dp.svg);
}

@media screen and (max-width: 1200px) {
  .header__menu-toggle {
    display: flex;
  }

  .header__toggle-wrapper_display_none {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .header__logo {
    display: none;
  }
  
    .header__menu-icon {
      width: 44px;
      height: 44px;
    }
}

@media screen and (max-width: 660px) {
  .header__title {
    font-size: 36px;
  }
}