.root {
  background-color: #0c092e;
  color: white;
  padding: 25px;
  min-height: 100vh;
  min-width: 400px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', Roboto, monospace, sans-serif;
}
