.sidebar {
  min-width: 250px;
}

.sidebar__nav {
  height: 100%;
  color: white;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    clip-path: inset(0px);
  }

  .sidebar_show {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .sidebar__nav {
    background-color: #ffd519;
    color: #5932cb;
    width: 330px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: -250px;
    transition: left 0.3s linear;
    padding: 15px;
    box-sizing: border-box;
  }

  .sidebar__nav_show {
    left: 0;
  }

  .sidebar__hover {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 550px) {
  .sidebar__nav {
    width: 100%;
  }

  .sidebar__hover {
    display: none;
  }
}
